#content {
  margin: 0 auto;
  width: 58%;
  font-family: Arial;
  font-size: 14px;
}

#form {
  width: 300px;
  padding: 20px 0 20px;
}

#form div{
  text-align: right;
  padding-top: 5px;
}

#calendar {
    border: 1px solid #ccc;
    padding: 5px;
}

.month{
  width: 168px;
  padding: 0 20px 20px 0;
  display: inline-block;
}

.month-title{
  text-align: center;
  background-color: #e7f5c5;
  width: 166px;
}

.week{
  width: 100%;
}

.day{
  text-align: center;
  width: 22px;
  display: inline-block;
  margin: 2px 2px 0 0;
}

.header{
  background-color: #fff;
}

.out{
  background-color: #eee;
}

.midweek{
  background-color: #e7f5c5;
}

.weekend{
  background-color: #f8fb14;
}




