

.month{
  width: 168px;
  padding-right: 20px;
  display: inline-block;
}

.month-title{
  text-align: center;
  background-color: #e7f5c5;
  width: 166px;
}

.week{
  width: 100%;
}

.day{
  text-align: center;
  width: 22px;
  display: inline-block;
  margin: 2px 2px 0 0;
}

.header{
  background-color: #fff;
}

.out{
  background-color: #eee;
}

.midweek{
  background-color: #e7f5c5;
}

.weekend{
  background-color: #f8fb14;
}